body{
    
    border: 5px solid blueviolet;
    background-attachment: fixed;
    background-size: auto;
    background-color: rgb(172, 181, 199);
    padding: 10px;
    border-radius: 8px;
}
h1{
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(4, 0, 255);
}
.content{
    text-align: justify;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.kola{
    border: 3px solid green;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 30px;
    width: 95%;
    height: 50%;
}
.mango{
    border: 5px solid yellowgreen;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
    position: absolute;


}
#jam{
    text-align: center;
}
#pic{
    text-align: center;
}
.moric{
    border: 5px solid yellowgreen;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
    position: absolute;
}
.pen{
    border: 3px solid green;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 30px;
    width: 95%;
    height: 50%;
}
.book{
    border: 3px solid green;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 30px;
    width: 95%;
    height: 50%;
    
}
.mama{
    text-align: center;
}
#toy{
    font-family:monospace;
    text-align: center;
}